<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" (click)="onPreviousPage()"
                [class.disabled]="currentPage==1">Previous</a>
        </li>
        @for(pageNumber of pageNumbers; track pageNumber; let i=$index) {
        <li class="page-item"><a class="page-link" (click)="onSelectPage(pageNumber)">{{pageNumber}}</a></li>
        }
        <li class="page-item"><a class="page-link" (click)="onNextPage()"
                [class.disabled]="currentPage==totalPages">Next</a>
        </li>
    </ul>
</nav>