<div class="col-md-12 mx-auto">
    <div class="row align-items-end mt-2 mb-2 m-1">
        <div class="col">
            <h3 class="fw-bold">Tasks</h3>
        </div>
        <div class="col-auto">
            <button class="btn btn-secondary shadow-sm" (click)="onAddTask()">
                + Add New Task
            </button>
        </div>
    </div>

    @if (isModalOpen) {
      <app-task-create (close)="closeModal()"></app-task-create>
    }
    
    <div class="card border-0 shadow-sm">
        <app-task-list></app-task-list>
    </div>
</div>