<div class="col-md-12 mx-auto">
  <div class="row align-items-end mt-2 mb-2 m-1">
    <div class="col">
      <h3 class="fw-bold">{{ childOutlet?.isActivated ? 'Task Insights' : 'Tasks' }}</h3>
    </div>
    <div class="col-auto d-flex gap-2">
      <a *ngIf="childOutlet?.isActivated" class="btn btn-outline-secondary" routerLink="/tasks">
        Back to Tasks
      </a>
      <button *ngIf="!childOutlet?.isActivated" class="btn btn-secondary shadow-sm" (click)="onAddTask()">
        + Add New Task
      </button>
      <a *ngIf="!childOutlet?.isActivated" class="btn btn-outline-primary" routerLink="insights" routerLinkActive="active">
        View Insights
      </a>
    </div>
  </div>

  <router-outlet #childOutlet="outlet"></router-outlet>

  <ng-container *ngIf="!childOutlet?.isActivated">
    <div *ngIf="isModalOpen">
      <app-task-create (close)="closeModal()"></app-task-create>
    </div>

    <div class="card border-0 shadow-sm mb-3">
      <app-task-list></app-task-list>
    </div>
  </ng-container>

</div>