<app-modal (close)="close.emit()" title="{{ isEdit ? 'Edit Task' : 'Add Task' }}">
  <form (submit)="onSave(taskForm)" #taskForm="ngForm" novalidate>
    <div class="mb-3">
      <label for="title" class="form-label">Title:</label>
      <input type="text" name="title" [(ngModel)]="task.title" required minlength="3" class="form-control"
        id="title">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description:</label>
      <textarea class="form-control" rows="4" name="description" [(ngModel)]="task.description" required
        #content="ngModel" id="description" rows="3"></textarea>
    </div>
    <div class="mb-3">
      <label for="dueBy" class="form-label">Due by:</label>
      <input type="date" name="dueBy" [(ngModel)]="task.dueBy" class="form-control" id="dueBy">
    </div>
    <div class="text-center d-flex justify-content-center gap-4 mt-3">
      <button type="submit" class="btn btn-primary g-3">{{isEdit ? 'Update':'Save'}}</button>
      <button type="reset" class="btn btn-danger" (click)="reset(taskForm)">Reset</button>
    </div>

  </form>
</app-modal>