:root {
  /* Base colors */
  --color-body-bg: ghostwhite;

  --color-primary: #563d7c;
  --color-secondary: #e387f536;

  --color-border: #ccc;

  /* Status colors */
  --color-success: #89c162;
  --color-error: #de554a;
  --color-warning: #eda42c;
  --color-info: #2c89bd;
}
