<form (submit)="onAddPost(postForm)" #postForm="ngForm" novalidate>
  <div class="mb-3">
    <label for="title" class="form-label">Title:</label>
    <input type="email" #title="ngModel" name="title" ngModel required minlength="3" class="form-control" id="title">
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">Description:</label>
    <textarea class="form-control" rows="4" name="content" ngModel required #content="ngModel" id="content"
      rows="4"></textarea>
  </div>
  <div class="d-flex justify-content-center gap-2">
    <button type="reset" class="btn btn-outline-danger">Reset</button>
    <button type="submit" [disabled]="postForm.invalid" class="btn btn-primary">Save</button>
  </div>

</form>